# Import Libraries

In [6]:
import pandas as pd
import numpy as np
from sklearn.preprocessing import LabelEncoder
import os
import matplotlib.pyplot as plt
import seaborn as sns
sns.set_theme(style="whitegrid")

# Importing dataset

In [32]:
app_train = pd.read_csv("/Users/u1427750/Desktop/EDA/application_train.csv")
app_test = pd.read_csv("/Users/u1427750/Desktop/EDA/application_test.csv")

In [33]:
app_train.shape

(307511, 122)

In [9]:
app_train.head()

,SK_ID_CURR,TARGET,NAME_CONTRACT_TYPE,CODE_GENDER,FLAG_OWN_CAR,FLAG_OWN_REALTY,CNT_CHILDREN,AMT_INCOME_TOTAL,AMT_CREDIT,AMT_ANNUITY,...,FLAG_DOCUMENT_18,FLAG_DOCUMENT_19,FLAG_DOCUMENT_20,FLAG_DOCUMENT_21,AMT_REQ_CREDIT_BUREAU_HOUR,AMT_REQ_CREDIT_BUREAU_DAY,AMT_REQ_CREDIT_BUREAU_WEEK,AMT_REQ_CREDIT_BUREAU_MON,AMT_REQ_CREDIT_BUREAU_QRT,AMT_REQ_CREDIT_BUREAU_YEAR
0,100002,1,Cash loans,M,N,Y,0,202500.0,406597.5,24700.5,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,1.0
1,100003,0,Cash loans,F,N,N,0,270000.0,1293502.5,35698.5,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0
2,100004,0,Revolving loans,M,Y,Y,0,67500.0,135000.0,6750.0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0
3,100006,0,Cash loans,F,N,Y,0,135000.0,312682.5,29686.5,...,0,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
4,100007,0,Cash loans,M,N,Y,0,121500.0,513000.0,21865.5,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0

In [10]:
app_train.describe

<bound method NDFrame.describe of         SK_ID_CURR  TARGET NAME_CONTRACT_TYPE CODE_GENDER FLAG_OWN_CAR  \
0           100002       1         Cash loans           M            N
1           100003       0         Cash loans           F            N
2           100004       0    Revolving loans           M            Y
3           100006       0         Cash loans           F            N
4           100007       0         Cash loans           M            N
...            ...     ...                ...         ...          ...
307506      456251       0         Cash loans           M            N
307507      456252       0         Cash loans           F            N
307508      456253       0         Cash loans           F            N
307509      456254       1         Cash loans           F            N
307510      456255       0         Cash loans           F            N

       FLAG_OWN_REALTY  CNT_CHILDREN  AMT_INCOME_TOTAL  AMT_CREDIT  \
0                    Y             0          202500.0    406597.5
1                    N             0          270000.0   1293502.5
2                    Y             0           67500.0    135000.0
3                    Y             0          135000.0    312682.5
4                    Y             0          121500.0    513000.0
...                ...           ...               ...         ...
307506               N             0          157500.0    254700.0
307507               Y             0           72000.0    269550.0
307508               Y             0          153000.0    677664.0
307509               Y             0          171000.0    370107.0
307510               N             0          157500.0    675000.0

        AMT_ANNUITY  ...  FLAG_DOCUMENT_18 FLAG_DOCUMENT_19 FLAG_DOCUMENT_20  \
0           24700.5  ...                 0                0                0
1           35698.5  ...                 0                0                0
2            6750.0  ...                 0                0                0
3           29686.5  ...                 0                0                0
4           21865.5  ...                 0                0                0
...             ...  ...               ...              ...              ...
307506      27558.0  ...                 0                0                0
307507      12001.5  ...                 0                0                0
307508      29979.0  ...                 0                0                0
307509      20205.0  ...                 0                0                0
307510      49117.5  ...                 0                0                0

       FLAG_DOCUMENT_21 AMT_REQ_CREDIT_BUREAU_HOUR AMT_REQ_CREDIT_BUREAU_DAY  \
0                     0                        0.0                       0.0
1                     0                        0.0                       0.0
2                     0                        0.0                       0.0
3                     0                        NaN                       NaN
4                     0                        0.0                       0.0
...                 ...                        ...                       ...
307506                0                        NaN                       NaN
307507                0                        NaN                       NaN
307508                0                        1.0                       0.0
307509                0                        0.0                       0.0
307510                0                        0.0                       0.0

        AMT_REQ_CREDIT_BUREAU_WEEK  AMT_REQ_CREDIT_BUREAU_MON  \
0                              0.0                        0.0
1                              0.0                        0.0
2                              0.0                        0.0
3                              NaN                        NaN
4                              0.0                        0.0
...                            ...                        ...
307506                         NaN                        NaN
307507                         NaN                        NaN
307508                         0.0                        1.0
307509                         0.0                        0.0
307510                         0.0                        2.0

        AMT_REQ_CREDIT_BUREAU_QRT  AMT_REQ_CREDIT_BUREAU_YEAR
0                             0.0                         1.0
1                             0.0                         0.0
2                             0.0                         0.0
3                             NaN                         NaN
4                             0.0                         0.0
...                           ...                         ...
307506                        NaN                         NaN
307507                        NaN                         NaN
307508                        0.0                         1.0
307509                        0.0                         0.0
307510                        0.0                         1.0

[307511 rows x 122 columns]>

In [11]:
app_test.describe

<bound method NDFrame.describe of        SK_ID_CURR NAME_CONTRACT_TYPE CODE_GENDER FLAG_OWN_CAR FLAG_OWN_REALTY  \
0          100001         Cash loans           F            N               Y
1          100005         Cash loans           M            N               Y
2          100013         Cash loans           M            Y               Y
3          100028         Cash loans           F            N               Y
4          100038         Cash loans           M            Y               N
...           ...                ...         ...          ...             ...
48739      456221         Cash loans           F            N               Y
48740      456222         Cash loans           F            N               N
48741      456223         Cash loans           F            Y               Y
48742      456224         Cash loans           M            N               N
48743      456250         Cash loans           F            Y               N

       CNT_CHILDREN  AMT_INCOME_TOTAL  AMT_CREDIT  AMT_ANNUITY  \
0                 0          135000.0    568800.0      20560.5
1                 0           99000.0    222768.0      17370.0
2                 0          202500.0    663264.0      69777.0
3                 2          315000.0   1575000.0      49018.5
4                 1          180000.0    625500.0      32067.0
...             ...               ...         ...          ...
48739             0          121500.0    412560.0      17473.5
48740             2          157500.0    622413.0      31909.5
48741             1          202500.0    315000.0      33205.5
48742             0          225000.0    450000.0      25128.0
48743             0          135000.0    312768.0      24709.5

       AMT_GOODS_PRICE  ... FLAG_DOCUMENT_18 FLAG_DOCUMENT_19  \
0             450000.0  ...                0                0
1             180000.0  ...                0                0
2             630000.0  ...                0                0
3            1575000.0  ...                0                0
4             625500.0  ...                0                0
...                ...  ...              ...              ...
48739         270000.0  ...                0                0
48740         495000.0  ...                0                0
48741         315000.0  ...                0                0
48742         450000.0  ...                0                0
48743         270000.0  ...                0                0

      FLAG_DOCUMENT_20 FLAG_DOCUMENT_21 AMT_REQ_CREDIT_BUREAU_HOUR  \
0                    0                0                        0.0
1                    0                0                        0.0
2                    0                0                        0.0
3                    0                0                        0.0
4                    0                0                        NaN
...                ...              ...                        ...
48739                0                0                        0.0
48740                0                0                        NaN
48741                0                0                        0.0
48742                0                0                        0.0
48743                0                0                        0.0

       AMT_REQ_CREDIT_BUREAU_DAY  AMT_REQ_CREDIT_BUREAU_WEEK  \
0                            0.0                         0.0
1                            0.0                         0.0
2                            0.0                         0.0
3                            0.0                         0.0
4                            NaN                         NaN
...                          ...                         ...
48739                        0.0                         0.0
48740                        NaN                         NaN
48741                        0.0                         0.0
48742                        0.0                         0.0
48743                        0.0                         0.0

       AMT_REQ_CREDIT_BUREAU_MON  AMT_REQ_CREDIT_BUREAU_QRT  \
0                            0.0                        0.0
1                            0.0                        0.0
2                            0.0                        1.0
3                            0.0                        0.0
4                            NaN                        NaN
...                          ...                        ...
48739                        0.0                        0.0
48740                        NaN                        NaN
48741                        0.0                        3.0
48742                        0.0                        0.0
48743                        0.0                        1.0

       AMT_REQ_CREDIT_BUREAU_YEAR
0                             0.0
1                             3.0
2                             4.0
3                             3.0
4                             NaN
...                           ...
48739                         1.0
48740                         NaN
48741                         1.0
48742                         2.0
48743                         4.0

[48744 rows x 121 columns]>

In [12]:
app_train['TARGET'].value_counts()

0    282686
1     24825
Name: TARGET, dtype: int64

In [42]:
pd.options.display.max_rows = 4000

app_train.corr()['TARGET'].sort_values(ascending=False)

TARGET                          1.000000
DAYS_BIRTH                      0.078239
REGION_RATING_CLIENT_W_CITY     0.060893
REGION_RATING_CLIENT            0.058899
DAYS_LAST_PHONE_CHANGE          0.055218
DAYS_ID_PUBLISH                 0.051457
REG_CITY_NOT_WORK_CITY          0.050994
FLAG_EMP_PHONE                  0.045982
REG_CITY_NOT_LIVE_CITY          0.044395
FLAG_DOCUMENT_3                 0.044346
DAYS_REGISTRATION               0.041975
OWN_CAR_AGE                     0.037612
LIVE_CITY_NOT_WORK_CITY         0.032518
DEF_30_CNT_SOCIAL_CIRCLE        0.032248
DEF_60_CNT_SOCIAL_CIRCLE        0.031276
FLAG_WORK_PHONE                 0.028524
AMT_REQ_CREDIT_BUREAU_YEAR      0.019930
CNT_CHILDREN                    0.019187
CNT_FAM_MEMBERS                 0.009308
OBS_30_CNT_SOCIAL_CIRCLE        0.009131
OBS_60_CNT_SOCIAL_CIRCLE        0.009022
REG_REGION_NOT_WORK_REGION      0.006942
REG_REGION_NOT_LIVE_REGION      0.005576
FLAG_DOCUMENT_2                 0.005417
FLAG_DOCUMENT_21                0.003709
LIVE_REGION_NOT_WORK_REGION     0.002819
AMT_REQ_CREDIT_BUREAU_DAY       0.002704
AMT_REQ_CREDIT_BUREAU_HOUR      0.000930
AMT_REQ_CREDIT_BUREAU_WEEK      0.000788
FLAG_MOBIL                      0.000534
FLAG_CONT_MOBILE                0.000370
FLAG_DOCUMENT_20                0.000215
FLAG_DOCUMENT_5                -0.000316
FLAG_DOCUMENT_12               -0.000756
FLAG_DOCUMENT_19               -0.001358
FLAG_DOCUMENT_10               -0.001414
FLAG_DOCUMENT_7                -0.001520
NONLIVINGAPARTMENTS_MODE       -0.001557
FLAG_EMAIL                     -0.001758
AMT_REQ_CREDIT_BUREAU_QRT      -0.002022
SK_ID_CURR                     -0.002108
FLAG_DOCUMENT_4                -0.002672
NONLIVINGAPARTMENTS_MEDI       -0.002757
NONLIVINGAPARTMENTS_AVG        -0.003176
FLAG_DOCUMENT_17               -0.003378
AMT_INCOME_TOTAL               -0.003982
FLAG_DOCUMENT_11               -0.004229
FLAG_DOCUMENT_9                -0.004352
FLAG_DOCUMENT_15               -0.006536
FLAG_DOCUMENT_18               -0.007952
FLAG_DOCUMENT_8                -0.008040
YEARS_BEGINEXPLUATATION_MODE   -0.009036
FLAG_DOCUMENT_14               -0.009464
YEARS_BEGINEXPLUATATION_AVG    -0.009728
YEARS_BEGINEXPLUATATION_MEDI   -0.009993
LANDAREA_MODE                  -0.010174
LANDAREA_AVG                   -0.010885
LANDAREA_MEDI                  -0.011256
FLAG_DOCUMENT_13               -0.011583
FLAG_DOCUMENT_16               -0.011615
AMT_REQ_CREDIT_BUREAU_MON      -0.012462
NONLIVINGAREA_MODE             -0.012711
AMT_ANNUITY                    -0.012817
NONLIVINGAREA_MEDI             -0.013337
NONLIVINGAREA_AVG              -0.013578
COMMONAREA_MODE                -0.016340
ENTRANCES_MODE                 -0.017387
COMMONAREA_AVG                 -0.018550
COMMONAREA_MEDI                -0.018573
ENTRANCES_MEDI                 -0.019025
ENTRANCES_AVG                  -0.019172
BASEMENTAREA_MODE              -0.019952
YEARS_BUILD_MODE               -0.022068
BASEMENTAREA_MEDI              -0.022081
YEARS_BUILD_AVG                -0.022149
YEARS_BUILD_MEDI               -0.022326
BASEMENTAREA_AVG               -0.022746
LIVINGAPARTMENTS_MODE          -0.023393
FLAG_PHONE                     -0.023806
HOUR_APPR_PROCESS_START        -0.024166
LIVINGAPARTMENTS_MEDI          -0.024621
LIVINGAPARTMENTS_AVG           -0.025031
APARTMENTS_MODE                -0.027284
FLAG_DOCUMENT_6                -0.028602
APARTMENTS_MEDI                -0.029184
APARTMENTS_AVG                 -0.029498
AMT_CREDIT                     -0.030369
LIVINGAREA_MODE                -0.030685
ELEVATORS_MODE                 -0.032131
TOTALAREA_MODE                 -0.032596
FLOORSMIN_MODE                 -0.032698
LIVINGAREA_MEDI                -0.032739
LIVINGAREA_AVG                 -0.032997
FLOORSMIN_MEDI                 -0.033394
FLOORSMIN_AVG                  -0.033614
ELEVATORS_MEDI                 -0.033863
ELEVATORS_AVG                  -0.034199
REGION_POPULATION_RELATIVE     -0.037227
AMT_GOODS_PRICE                -0.039645
FLOORSMAX_MODE                 -0.043226
FLOORSMAX_MEDI                 -0.043768
FLOORSMAX_AVG                  -0.044003
DAYS_EMPLOYED                  -0.044932
EXT_SOURCE_1                   -0.155317
EXT_SOURCE_2                   -0.160472
EXT_SOURCE_3                   -0.178919
Name: TARGET, dtype: float64

In [47]:
correlations = app_train.corr()['TARGET'].sort_values(ascending=False)

print('Most Negative Correlations:\n', correlations.tail(5))
print('\nMost Positive Correlatios:\n', correlations.head(6))

Most Negative Correlations:
 FLOORSMAX_AVG   -0.044003
DAYS_EMPLOYED   -0.044932
EXT_SOURCE_1    -0.155317
EXT_SOURCE_2    -0.160472
EXT_SOURCE_3    -0.178919
Name: TARGET, dtype: float64

Most Positive Correlatios:
 TARGET                         1.000000
DAYS_BIRTH                     0.078239
REGION_RATING_CLIENT_W_CITY    0.060893
REGION_RATING_CLIENT           0.058899
DAYS_LAST_PHONE_CHANGE         0.055218
DAYS_ID_PUBLISH                0.051457
Name: TARGET, dtype: float64

# From the above information, we can conclude that certain predictors exhibit strong positive correlations with the TARGET variable. These predictors include 'DAYS_BIRTH', 'REGION_RATING_CLIENT_W_CITY', 'REGION_RATING_CLIENT', 'DAYS_LAST_PHONE_CHANGE', and 'DAYS_ID_PUBLISH'. This implies that the values of both the TARGET variable and these predictors tend to change in the same direction.

# On the other hand, there are predictors that demonstrate negative correlations with the TARGET variable, namely 'EXT_SOURCE_3', 'EXT_SOURCE_2', 'EXT_SOURCE_1', 'DAYS_EMPLOYED', and 'FLOORSMAX_AVG'. This implies that as the values of the TARGET variable increase, the values of these predictors tend to decrease, and vice versa. In other words, the TARGET variable and these predictors are in opposite relationship in terms of their changes.